{% extends 'base.html' %}

{% block content %}
<style>
.blog-content {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits the content to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
  max-height: 3.5em; /* Adjust based on line-height and line-clamp */
}

.blog-content.expanded {
  display: block;
  max-height: 1000em; /* Large enough value to expand fully */
}
</style>
  <h1 class="text-[5vh] text-center font-bold">Blog Posts</h1>

  <div class="flex flex-col p-5 lg:px-48 lg:py-11">
    {% for blog in blogs %}
      <div class="bg-gray-100 p-5 mb-10">
        <h1 class="font-bold text-2xl mb-2">{{ blog.title }}</h1>
        <p class="blog-content my-3">{{ blog.content }}</p>
        <button class="text-white font-semibold bg-blue-600 hover:bg-blue-800 p-2 my-1 rounded read-more-btn">Read More...</button>
      </div>
    {% endfor %}
  </div>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const readMoreButtons = document.querySelectorAll('.read-more-btn');
  
  readMoreButtons.forEach(button => {
    button.addEventListener('click', () => {
      const content = button.previousElementSibling;
      content.classList.toggle('expanded');
      button.textContent = content.classList.contains('expanded') ? 'Read Less...' : 'Read More...';
    });
  });
});
</script>
{% endblock %}
